<a href="https://colab.research.google.com/github/kartik937/kartik937/blob/main/Big_Data_and_Cloud_computing_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Big Data**

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=6a87b3d2a2865b312fd64985058dbedebc35dac13a84b91f9072db52dbe7df0e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [15]:
import pyspark

In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.getOrCreate()

In [18]:
spark

In [19]:
#spark.stop()

In [20]:
sdf = spark.read.csv('/content/HR50k (1).csv')

In [21]:
sdf.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+--------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+--------------------+-------------+----------------+-----------------+--------------------+---------------+--------------+------------------+--------------------+--------------------+
|_c0|      _c1|              _c2|      _c3|                 _c4|             _c5|      _c6|             _c7|          _c8|           _c9|                _c10|  _c11|      _c12|          _c13|    _c14|                _c15|           _c16|         _c17|         _c18|       _c19|              _c20|  _c21|    _c22|             _c23|             _c24|                _c25|         _c26|            _c27|             _c28|                _c29|           _c30|          _c31|              _c32|                _c33|                _c34|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+--------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+--------------------+-------------+----------------+-----------------+--------------------+---------------+--------------+------------------+--------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisf...|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatis...|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLast...|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPro...|YearsWithCurrManager|
| 31|       No|       Non-Travel|      158|            Software|               7|        3|         Medical|            1|             1|                   3|  Male|        42|             2|       3|           Developer|              1|      Married|        42682|     298774|                 2|     Y|      No|               20|                4|                   1|           80|               2|               15|                   1|              2|            12|                 4|                  10|                  11|
| 38|       No|    Travel_Rarely|      985|     Human Resources|              33|        5|   Life Sciences|            1|             2|                   1|Female|        66|             2|       4|Healthcare Repres...|              3|       Single|        45252|      45252|                 8|     Y|      No|                2|                1|                   3|           80|               4|                5|                   4|              3|             1|                 1|                   1|                   1|
| 59|      Yes|       Non-Travel|     1273|               Sales|               5|        2|Technical Degree|            1|             3|                   4|Female|        96|             1|       3|Manufacturing Dir...|              2|      Married|        46149|     507639|                 7|     Y|     Yes|               39|                3|                   2|           80|               2|                9|                   5|              1|             6|                 6|                   4|                   3|
| 52|      Yes|    Travel_Rarely|      480|             Support|               2|        5|       Marketing|            1|             4|                   4|Female|        71|             2|       4|     Human Resources|              1|      Married|        27150|      27150|                 4|     Y|      No|               16|                3|                   2|           80|               2|               22|                   4|              4|            10|                 9|                   5|                   6|
| 32|       No|       Non-Travel|      543|     Human Resources|               7|        5| Human Resources|            1|             5|                   2|  Male|       122|             3|       3|             Manager|              2|     Divorced|        15894|      47682|                 6|     Y|     Yes|               42|                3|                   4|           80|               2|               30|                   3|              4|            29|                27|                   9|                   7|
| 19|      Yes|       Non-Travel|      779|            Hardware|              43|        1|         Medical|            1|             6|                   2|Female|       195|             4|       3|   Research Director|              3|      Married|        41552|    1246560|                 3|     Y|     Yes|               15|                4|                   3|           80|               1|               33|                   4|              2|            16|                 4|                  14|                   3|
| 42|      Yes|       Non-Travel|      934|             Support|              26|        4| Human Resources|            1|             7|                   2|Female|        80|             3|       5|     Sales Executive|              4|     Divorced|         5303|     148484|                 3|     Y|      No|               45|                4|                   1|           80|               1|                4|                   3|              4|             2|                 1|                   1|                   2|
| 30|       No|    Travel_Rarely|      380|             Support|              19|        3|       Marketing|            1|             8|                   4|  Male|       165|             1|       4|     Human Resources|              4|       Single|        28555|     571100|                 2|     Y|     Yes|               35|                3|                   2|           80|               1|                2|                   2|              2|             2|                 2|                   2|                   2|
| 41|       No|Travel_Frequently|     1464|            Software|              16|        1|   Life Sciences|            1|             9|                   3|  Male|       134|             1|       2|             Manager|              4|     Divorced|         3241|      87507|                 7|     Y|      No|                1|                1|                   3|           80|               2|                8|                   1|              2|             2|                 1|                   2|                   2|
| 45|       No|Travel_Frequently|     1020|     Human Resources|              17|        5|   Life Sciences|            1|            10|                   4|Female|       137|             2|       4|             Manager|              2|      Married|         4323|     116721|                 4|     Y|     Yes|               32|                1|                   3|           80|               4|                6|                   4|              4|             5|                 3|                   4|                   1|
| 36|       No|    Travel_Rarely|      987|               Sales|              33|        4|           Other|            1|            11|                   3|  Male|       159|             3|       1|     Human Resources|              3|      Married|        10587|      95283|                 0|     Y|     Yes|               47|                4|                   2|           80|               1|               38|                   3|              4|            24|                19|                   8|                   6|
| 23|       No|Travel_Frequently|      135|     Human Resources|              20|        4|   Life Sciences|            1|            12|                   2|Female|        51|             2|       2|Manufacturing Dir...|              2|     Divorced|         7446|     141474|                 8|     Y|     Yes|               44|                1|                   2|           80|               4|               16|                   5|              3|             8|                 6|                   7|                   6|
| 24|      Yes|       Non-Travel|     1086|             Support|              15|        1|       Marketing|            1|            13|                   4|Female|       189|             3|       1|Manufacturing Dir...|              4|      Married|        34153|     648907|                 7|     Y|      No|               17|                1|                   3|           80|               1|               30|                   2|              2|            15|                 3|                   8|                   4|
| 39|      Yes|       Non-Travel|      673|Research & Develo...|              16|        2| Human Resources|            1|            14|                   2|Female|        69|             4|       2|     Sales Executive|              2|      Married|        47844|     382752|                 1|     Y|      No|               47|                1|                   4|           80|               1|               14|                   4|              2|            13|                 9|                  11|                   5|
| 42|      Yes|    Travel_Rarely|      145|     Human Resources|              31|        3|   Life Sciences|            1|            15|                   3|  Male|       127|             3|       1|           Developer|              4|      Married|        21432|      21432|                 4|     Y|     Yes|               48|                2|                   1|           80|               4|                2|                   6|              2|             1|                 1|                   1|                   1|
| 44|      Yes|Travel_Frequently|      717|            Software|              10|        2| Human Resources|            1|            16|                   3|Female|       151|             1|       5|Sales Representative|              4|     Divorced|        50393|    1058253|                 6|     Y|     Yes|               42|                2|                   1|           80|               2|               27|                   3|              1|            27|                13|                  18|                  18|
| 50|      Yes|Travel_Frequently|      460|Research & Develo...|              10|        4| Human Resources|            1|            17|                   4|  Male|       181|             2|       5|             Manager|              3|     Divorced|        22090|      66270|                 7|     Y|      No|               19|                2|                   1|           80|               2|               14|                   3|              3|             5|                 3|                   4|                   5|
| 42|       No|    Travel_Rarely|     1422|            Software|              26|        4|   Life Sciences|            1|            18|                   4|Female|        92|             4|       5|           Developer|              3|       Single|        47968|      47968|                 3|     Y|     Yes|               41|                4|                   2|           80|               1|                5|                   4|              3|             4|                 1|                   2|                   3|
| 49|       No|Travel_Frequently|      129|Research & Develo...|              41|        1|Technical Degree|            1|            19|                   3|Female|        81|             2|       1|             Manager|              1|     Divorced|        24665|      98660|                 0|     Y|      No|               17|                2|                   3|           80|               4|                7|                   1|              3|             6|                 4|                   3|                   4|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+--------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+--------------------+-------------+----------------+-----------------+--------------------+---------------+--------------+------------------+--------------------+--------------------+
only showing top 20 rows

In [22]:
sdf.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string'),
 ('_c12', 'string'),
 ('_c13', 'string'),
 ('_c14', 'string'),
 ('_c15', 'string'),
 ('_c16', 'string'),
 ('_c17', 'string'),
 ('_c18', 'string'),
 ('_c19', 'string'),
 ('_c20', 'string'),
 ('_c21', 'string'),
 ('_c22', 'string'),
 ('_c23', 'string'),
 ('_c24', 'string'),
 ('_c25', 'string'),
 ('_c26', 'string'),
 ('_c27', 'string'),
 ('_c28', 'string'),
 ('_c29', 'string'),
 ('_c30', 'string'),
 ('_c31', 'string'),
 ('_c32', 'string'),
 ('_c33', 'string'),
 ('_c34', 'string')]

In [23]:
sdf.show(2)

+---+---------+--------------+---------+----------+----------------+---------+--------------+-------------+--------------+--------------------+------+----------+--------------+--------+---------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+--------------------+-------------+----------------+-----------------+--------------------+---------------+--------------+------------------+--------------------+--------------------+
|_c0|      _c1|           _c2|      _c3|       _c4|             _c5|      _c6|           _c7|          _c8|           _c9|                _c10|  _c11|      _c12|          _c13|    _c14|     _c15|           _c16|         _c17|         _c18|       _c19|              _c20|  _c21|    _c22|             _c23|             _c24|                _c25|         _c26|            _c27|             _c28|                _c29|           _c30|          _c31|              _c32|                _c33|                _c34|
+---+---------+--------------+---------+----------+----------------+---------+--------------+-------------+--------------+--------------------+------+----------+--------------+--------+---------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+--------------------+-------------+----------------+-----------------+--------------------+---------------+--------------+------------------+--------------------+--------------------+
|Age|Attrition|BusinessTravel|DailyRate|Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisf...|Gender|HourlyRate|JobInvolvement|JobLevel|  JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatis...|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLast...|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPro...|YearsWithCurrManager|
| 31|       No|    Non-Travel|      158|  Software|               7|        3|       Medical|            1|             1|                   3|  Male|        42|             2|       3|Developer|              1|      Married|        42682|     298774|                 2|     Y|      No|               20|                4|                   1|           80|               2|               15|                   1|              2|            12|                 4|                  10|                  11|
+---+---------+--------------+---------+----------+----------------+---------+--------------+-------------+--------------+--------------------+------+----------+--------------+--------+---------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+--------------------+-------------+----------------+-----------------+--------------------+---------------+--------------+------------------+--------------------+--------------------+
only showing top 2 rows

In [24]:
sdf.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)

In [25]:
sdf.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 '_c17',
 '_c18',
 '_c19',
 '_c20',
 '_c21',
 '_c22',
 '_c23',
 '_c24',
 '_c25',
 '_c26',
 '_c27',
 '_c28',
 '_c29',
 '_c30',
 '_c31',
 '_c32',
 '_c33',
 '_c34']

In [47]:
sdf.describe

<bound method DataFrame.describe of DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string, _c24: string, _c25: string, _c26: string, _c27: string, _c28: string, _c29: string, _c30: string, _c31: string, _c32: string, _c33: string, _c34: string]>

In [49]:
sdf.describe().show()

+-------+-----------------+---------+--------------+------------------+----------+------------------+------------------+----------------+-------------+-----------------+--------------------+------+-----------------+-----------------+------------------+--------------------+------------------+--------+------------------+------------------+------------------+------+-----+------------------+------------------+--------------------+-------------+------------------+------------------+--------------------+------------------+-----------------+------------------+--------------------+--------------------+
|summary|              _c0|      _c1|           _c2|               _c3|       _c4|               _c5|               _c6|             _c7|          _c8|              _c9|                _c10|  _c11|             _c12|             _c13|              _c14|                _c15|              _c16|    _c17|              _c18|              _c19|              _c20|  _c21| _c22|              _c23|              _c24|                _c25|         _c26|              _c27|              _c28|                _c29|              _c30|             _c31|              _c32|                _c33|                _c34|
+-------+-----------------+---------+--------------+------------------+----------+------------------+------------------+----------------+-------------+-----------------+--------------------+------+-----------------+-----------------+------------------+--------------------+------------------+--------+------------------+------------------+------------------+------+-----+------------------+------------------+--------------------+-------------+------------------+------------------+--------------------+------------------+-----------------+------------------+--------------------+--------------------+
|  count|            50001|    50001|         50001|             50001|     50001|             50001|             50001|           50001|        50001|            50001|               50001| 50001|            50001|            50001|             50001|               50001|             50001|   50001|             50001|             50001|             50001| 50001|50001|             50001|             50001|               50001|        50001|             50001|             50001|               50001|             50001|            50001|             50001|               50001|               50001|
|   mean|         38.97148|     NULL|          NULL|         798.67756|      NULL|          25.53978|            3.0046|            NULL|          1.0|          25000.5|             2.49836|  NULL|        115.43294|          2.50262|           2.99464|                NULL|           2.48738|    NULL|       26015.78126|      404043.57942|             3.999|  NULL| NULL|          24.61832|           2.49596|             2.50222|         80.0|           2.50378|          20.49686|             3.49398|           2.49872|          10.7711|            5.9073|             5.87182|             5.88904|
| stddev|12.42083379455027|     NULL|          NULL|405.08021678685725|      NULL|14.339955726507823|1.4142485078573823|            NULL|          0.0|14433.90106658626|   1.119670658563342|  NULL|49.42486660887611|1.120543728716091|1.4159983656160842|                NULL|1.1163089440263205|    NULL|14410.977499609877|340190.81112818094| 2.582373399229366|  NULL| NULL|14.405000189455322|1.1180915351497904|  1.1179177368667783|          0.0|1.1189328629614141|11.575819199184258|  1.7081516663464946|1.1141199158365949|8.934229748513532| 6.034377762810301|   5.999055730779056|   6.009613147899259|
|    min|               18|Attrition|BusinessTravel|               100|Department|                 1|                 1|  EducationField|            1|                1|                   1|Female|              100|                1|                 1|           Developer|                 1|Divorced|             10000|            100000|                 0|Over18|   No|                 0|                 1|                   1|           80|                 1|                 1|                   1|                 1|                1|                 1|                   1|                   1|
|    max|              Age|      Yes| Travel_Rarely|         DailyRate|   Support|  DistanceFromHome|         Education|Technical Degree|EmployeeCount|   EmployeeNumber|EnvironmentSatisf...|  Male|       HourlyRate|   JobInvolvement|          JobLevel|Sales Representative|   JobSatisfaction|  Single|     MonthlyIncome|       MonthlyRate|NumCompaniesWorked|     Y|  Yes| PercentSalaryHike| PerformanceRating|RelationshipSatis...|StandardHours|  StockOptionLevel| TotalWorkingYears|TrainingTimesLast...|   WorkLifeBalance|   YearsAtCompany|YearsInCurrentRole|YearsSinceLastPro...|YearsWithCurrManager|
+-------+-----------------+---------+--------------+------------------+----------+------------------+------------------+----------------+-------------+-----------------+--------------------+------+-----------------+-----------------+------------------+--------------------+------------------+--------+------------------+------------------+------------------+------+-----+------------------+------------------+--------------------+-------------+------------------+------------------+--------------------+------------------+-----------------+------------------+--------------------+--------------------+